body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 150px auto;
  display: grid;
  grid-template-columns: repeat( 2, minmax(100px, 1fr) );
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.puzzle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  background-image: url(https://picsum.photos/600/400);
  border-radius: 10%;
  box-shadow: inset 0px 0px 10px;
}

.puzzle:hover button{
  display: block;
}

#image1 {
  background-position: 0px 0px;
  grid-row-start: 1;
  grid-column-start: 1;
}

#image2 {
  background-position: 300px 0px;
  grid-row-start: 1;
  grid-column-start: 2;
}
#image3 {
  background-position: 0px 200px;
  grid-row-start: 2;
  grid-column-start: 1;
}

#image4 {
  background-position: 300px 200px;
  grid-row-start: 2;
  grid-column-start: 2;
}

button {
  padding: 20px 25px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 20%;
  color: white;
  border: 1px solid white;
  display: none;
}

button:active {
  outline: none;
  border: none;
}

.top, .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .container { 
    margin: 150px auto;
    grid-gap: 2px;
  }

  .puzzle {
    width: 150px;
    height: 150px;
    background-image: url(https://picsum.photos/300/300);
  }

  button {
    padding: 10px 15px;
  }

#image1 {
  background-position: 0px 0px;
}

#image2 {
  background-position: 150px 0px;
}
#image3 {
  background-position: 0px 150px;
}

#image4 {
  background-position: 150px 150px;
}
  
}

@media screen and (min-width: 1000px) {
  .container { 
    transform: scale(1.5);
  } 

}